@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Code+Pro&display=swap');

@font-face {
  font-family: "SanFrancisco";
  src: url("./fonts/SF-Font-Pro.dmg");
}

.App-link {
  color: #61dafb;
}

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: #f5f6fa;
  margin: 8px auto;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  background-color: #353b48;
  width: 12px;
}

::-webkit-scrollbar:hover{
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #0097e6;
  border-radius: 8px;
}

button {
  cursor: pointer;
}

button:hover{
  background-color: green;
}

.container {
    display: block;
    width: 100%;
    font-family: SanFrancisco;
  }

  .get-order {
    display: none;
  }

  .get-order-active {
    display: block;
  }

  .whatido {
    display: flex;
    width: 100%;
    margin: 0px 0px;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
  }

  .whatido h2 {
    margin: 57px auto;
    font-size: 37px;
  }

  .whatido .one {
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
  }

  .whatido button {
    width: 201px;
    height: 34px;
    background-color: #ff4e2e;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .5s;
  }

  .whatido button:hover{
    background-color: #ff0e91;
  }

  .whatido .about_link{
    width: 201px;
    height: 34px;
    margin: 53px auto;
  }

  .about_link{
    cursor: pointer;
  }

  .one .block-one {
    width: 201px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .one .block-one .img1{
    margin-right: 18px;
  }

  .block-one img {
    width: 55px;
  }

  #ml {
    margin-left: 17px;
  }

  .block-top{
    background-image: url("./img/Ellipse_1.png");
    height: 448px;
    background-size: 490px 100%;
    background-position: 100% 0px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .block-top .block-name{
    margin-top: -10px;
    -webkit-margin-top: 65px;
    position: absolute;
    width: 1170px;
    padding-left: 322px;
  }


/* Inline #2 | http://localhost:3000/ */

.block-top .block-name {
    margin-top: 59px;
    display: flex;
    width: 1170px;
    padding-left: 242px;
    height: 366px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 38px;
  }

  .block-name img{
    width: 300px;
  }

  .block-top .block-name h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 97px;
    width: 355px;
    margin-left: -4px;
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

/* Element | http://localhost:3000/ */

.block-name > h2:nth-child(2) {
   font-size: 62px !important;
   margin-bottom: 96px;
   margin-top: 0px;
}


/* Element | http://localhost:3000/ */

.block-name > h2:nth-child(1) {
 margin-bottom: -20px;
}

  .block-top .block-name p {
    margin-top: -50px;
    font-size: 15pt;
  }

  .block-top .block-name button {
    width: 201px;
    height: 34px;
    background-color: #ff4e2e;
    border: none;
    color: #fff;
    margin-top: 0;
  }

  .block-top .icons img {
    width: 37px;
  }

  .block-top .icons .div-icon {
    width: 60px;
  }

  .block-top .icons {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 50%;
    height: 400px;
    left: 0px;
    z-index: -10;
  }

  .icons #one {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 27px;
    animation: A1 5s ease-in-out infinite;
    transition: 1s;
  }

  .icons #_div {
    position: absolute;
    top: 0px;
    left: 58%;
    width: 50px;
    transition: 3s;
    animation: A2 5s ease-in-out infinite;
  }
  .icons #a {
    position: absolute;
    left: 121%;
    top: 120px;
    width: 25px;
    animation: A1_2 7s ease-in-out infinite;
    transition: 1s;
  }

  .icons #_div_ {
    position: absolute;
    top: 149px;
    left: 93%;
    transform: rotate(-50deg);
    width: 50px;
    animation: A4 5s ease-in-out infinite;
    transition: 1s;
  }

  .icons #copy {
    position: absolute;
    top: 350px;
    left: 20%;
    width: 32px;
    animation: A2 5s ease-in-out infinite;
    transition: 1s;
  }

  .portfolio {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fbfbfb;
    width: 100%;
  }

  .portfolio button {
    width: 201px;
    height: 34px;
    background-color: #ff4e2e;
    border: none;
    color: #fff;
    margin-top: 10px;
    margin: 34px auto;
    cursor: pointer;
  }

  .slider {
    width: 1030px;
    height: 229px;
    background-color: #fbfbfb;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .image .pics1  {
    background-image: url('./img/slider_site1_2.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
  }

  .image .pics2  {
    background-image: url('./img/slider_site_2_max.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
  }

  .image .pics3  {
    background-image: url('./img/slider_site_3_max.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
  }

  .image .pics4  {
    background-image: url('./img/slider_site_3_max.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
  }

  .image .pics5  {
    background-image: url('./img/slider_site_3_max.jpg');
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #7d7d7d;
  }

  .portfolio h2 {
    margin: 28px auto;
    display: flex;
  }

  .reclama-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;;
    background: linear-gradient(to right top,#ff8f5a,#ff2f96);
    align-items: center;
  }

  .reclama-block h2 {
    color: #fff;
    max-width: 800px;
    font-size: 42px;
  }

  .reclama-block p {
    color: #fff;
    margin-top: 35px;
    max-width: 800px;
    font-size: 18px;
  }

  .images-container {
     width: 960px;
     overflow-x: hidden;
     transition: 1s;
    }

  .images-items {
    display: flex;
    height: 100%;
    width: 1623px;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
  }

  .image {
    margin: 0px 20px;
    height: 223px;
    width: 291px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image div {
   background-color: #4e4646;
   height: 207px;
   width: 100%;
  }

  .image p{
    height: 10px;
    text-decoration: none;
  }

  .link_port{
    text-decoration: none;
    color: black;
  }

  .circle-left {
    margin-top: -40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }

  @-moz-document url-prefix() {
    .circle-left {
       margin-top: -40px;
       align-items: center;
       display: flex;
       left: 0px;
       position: relative;
       justify-content: center;
      }
  }

  .circle-left img {
    width: 35px;
    box-shadow: 1px 1px 2px 1px #c4b4b4;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    margin-left: 26px;
  }

  @-moz-document url-prefix() {
    .circle-left  img {
     width: 35px;
     box-shadow: 1px 1px 2px 1px #c4b4b4;
     border-radius: 50%;
     cursor: pointer;
     position: absolute;
     margin-right: -23px;
    }
  }

  .circle-right{
    margin-top: -40px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  @-moz-document url-prefix() {
    .circle-right {
      margin-top: -40px;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
    }
  }

  .circle-right  img {
    width: 35px;
    box-shadow: -1px -1px 2px 1px #c4b4b4;
    border-radius: 50%;
    transform: rotate(180deg);
    cursor: pointer;
    position: absolute;
    margin-left: -25px;
  }

  @-moz-document url-prefix() {
    .circle-right  img {
      margin-left: -50px;
    }
  }

  .footer {
    background-color: #fff;
  }

  .footer-content {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
  }

  .footer-menu{
    width: 200px;
  }

  .contact{
    width: 228px;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-content .social{
    width: 175px;
    display: flex;
    flex-direction: column;
  }

  .social {
   width: 175px;
  }


  .social button {
    width: 100%;
    height: 40px;
    background-color: white;
    color: #f53f4f;
    border: 1px solid #f82370;
    font-size: 15px;
    transition: 0.5s;
  }

  .social button:hover{
    background-color: #f82370;
    color: #fff;
  }

  .fa-phone{
    color: #ff6475;
    margin-right: 10px;
  }

  .fa-envelope {
    color: #ff4c84;
    margin-right: 10px;
  }

  .social .icons {
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3px;
    cursor: pointer;
  }


  .icons .vk {
    font-size: 25pt;
    color: #4c75a3;
    transition: .5s;
  }

  .icons .vk:hover  {
    color: #194371;
  }

  .icons .facebook {
    font-size: 22pt;
    color: #3b5998;
    transition: .5s;
  }

  .icons .facebook:hover{
    color: #0b1e48;
  }

  .icons .twitter {
    font-size: 25pt;
    color: #00aced;
    transition: .5s;
  }

  .icons .twitter:hover{
    color: #3191b5;
  }

  .icons .instagram {
    font-size: 25pt;
    color: #833AB4;
    transition: .5s;
  }

  .icons .instagram:hover{
    color: #C13584;
  }


  .footer-menu p {
    cursor: pointer;
  }

  .icons span {
    cursor: pointer;
  }


  footer {
    background-color: #31293c;
    height: 50px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: -8px;
  }


  @keyframes A1 {
    0%{
      margin-top: -50px;
    }
    25%{
      margin-left: 5px;
    }
    50%{
      margin-top: +50px;
      margin-left: 0px;
    }
    75%{
      margin-left: 5px;
    }
    100%{
      margin-top: -50px;
      margin-left: 0px;
    }
  }

  @keyframes A1_2 {
    0%{
      margin-top: 50px;
    }
    25%{
      margin-left: 5px;
    }
    50%{
      margin-top: -50px;
      margin-left: 0px;
    }
    75%{
      margin-left: 5px;
    }
    100%{
      margin-top: 50px;
      margin-left: 0px;
    }
  }

  @keyframes A2 {
    0%{
      transform: rotate(-10deg);
      margin-left: -10px;
    }
    50%{
      transform: rotate(50deg);
      margin-left: 10px;
    }
    100%{
      transform: rotate(-10deg);
      margin-left: -10px;
    }
  }

  @keyframes A3 {
    0%{
      transform: rotate(-10deg);
      margin-left: -20px;
    }
    50%{
      transform: rotate(50deg);
      margin-left: 20px;
    }
    100%{
      transform: rotate(-10deg);
      margin-left: -20px;
    }
  }

  @keyframes A4 {
    0%{
      transform: rotate(50deg);
      margin-left: 10px;
    }
    50%{
      transform: rotate(-30deg);
      margin-left: -20px;
    }
    100%{
      transform: rotate(50deg);
      margin-left: 10px;
    }
  }
