.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 70%;
  transform: translateY(5%);
}
.app > p {
  font-size: 90%;
}

label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}
label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1.8rem 0 4rem 0;
  cursor: pointer;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
  transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.dark {
  opacity: .5;
}
/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .app .toggle{
  transform: translateX(100%);
  background-color: #34323D;
}
[type="checkbox"]:checked + .app .dark{
  color: white;
  opacity: 1;
}
[type="checkbox"]:checked + .app .light{
  opacity: .5;
  color: white
}

[type="checkbox"]:checked + .app label{
  /* background-color: white; */
}
/* App */
[type="checkbox"]:checked + .container{
  background-color:  grey;
  color: white;
}

/* @font-face {
  font-family: "SanFrancisco";
  src: url("./SF-Font-Pro.dmg");
} */

.right > button {
  width: 160px;
  height: 40px;
  background-color: white;
  margin-top: 5px;
  color: #f53f4f;
  border: 1px solid #f82370;
  font-size: 15px;
  transition: 0.5s;
}

body > header:nth-child(1) {
background-color: #f7efef;
display: flex;
}

body > header {
/* font-family: SanFrancisco; */
  background-color: #f5f6fa;
  transition: 1s;
}

.container > header {
  transition: 1s;
}

.container > header:nth-child(1) {
  transition: 1s;
}

.right > .social > .icons {
  align-items: flex-start;
}

.right > .social{
  width: 180px;
}

.icons_header_anim {
 position: absolute;
 display: block;
 width: 745px;
 height: 400px;
 top: 90px;
 left: 90px;
}

.icons_header_anim img {
  width: 54px;
}

.icons_header_anim > img:nth-child(1) {
 position: absolute;
 top: 127px;
 left: -51px;
 animation: A1 5s ease-in-out infinite;
 transition: 1s;
}


.icons_header_anim > img:nth-child(2) {
 width: 23px !important;
 position: absolute;
 left: 492px;
 top: 300px;
 animation: A1_2 5s ease-in-out infinite;
 transition: 1s;
}

.icons_header_anim > img:nth-child(3) {
 position: absolute;
 left: 269px;
 width: 40px !important;
 animation: A2 5s ease-in-out infinite;
 transition: 1s;
}

.icons_header_anim > img:nth-child(4) {
 width: 23px !important;
 position: absolute;
 top: 445px;
 left: 100px;
 animation: A3 5s ease-in-out infinite;
 transition: 1s;
}

.icons_header_anim > img:nth-child(5) {
 width: 23px !important;
 position: absolute;
 left: 680px;
 animation: A4 5s ease-in-out infinite;
 transition: 1s;
}




/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.app_menu {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./img/Ellipse_1_2.png');
  background-position: 106% bottom;
  background-repeat: no-repeat;
  background-size: 575px 89%;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.top {
  display: flex;
  width: 65em;
  justify-content: space-between;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.left {
  display: flex;
}

.top > .left > a {
  text-decoration: none;
  color: unset;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.right {
  display: flex;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.left > p:nth-child(1) {
margin-right: 32px;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.left > p:nth-child(2) {
margin-right: 32px;
}

/* Element | file:///C:/Users/cezar/Documents/Work%20Place/chizim_header/header.html */

.right > p:nth-child(1) {
margin-right: 25px;
}

.block_name_butt button {
width: 201px;
height: 34px;
background-color: #ff4e2e;
border: none;
color: #fff;
margin-top: 0;
}

.block_name_butt{
  margin-top: 36px;
  width: 300px;
}

.block_name {
margin-top: 78px;
}

.block_name > img {
width: 300px;
}

.block_name > p {
font-size: 15pt
}

.menu_content {
display: flex;
flex-direction: column;
width: 65em;
justify-content: center;
height: 100%;
}

@keyframes A1 {
  0%{
    margin-top: -50px;
  }
  25%{
    margin-left: 5px;
  }
  50%{
    margin-top: +50px;
    margin-left: 0px;
  }
  75%{
    margin-left: 5px;
  }
  100%{
    margin-top: -50px;
    margin-left: 0px;
  }
}

@keyframes A1_2 {
  0%{
    margin-top: 50px;
  }
  25%{
    margin-left: 5px;
  }
  50%{
    margin-top: -50px;
    margin-left: 0px;
  }
  75%{
    margin-left: 5px;
  }
  100%{
    margin-top: 50px;
    margin-left: 0px;
  }
}

@keyframes A2 {
  0%{
    transform: rotate(-10deg);
    margin-left: -10px;
  }
  50%{
    transform: rotate(50deg);
    margin-left: 10px;
  }
  100%{
    transform: rotate(-10deg);
    margin-left: -10px;
  }
}

@keyframes A3 {
  0%{
    transform: rotate(-10deg);
    margin-left: -20px;
  }
  50%{
    transform: rotate(50deg);
    margin-left: 20px;
  }
  100%{
    transform: rotate(-10deg);
    margin-left: -20px;
  }
}

@keyframes A4 {
  0%{
    transform: rotate(50deg);
    margin-left: 10px;
  }
  50%{
    transform: rotate(-30deg);
    margin-left: -20px;
  }
  100%{
    transform: rotate(50deg);
    margin-left: 10px;
  }
}
