@media (max-width: 1204px){
  .icons_header_anim > img:nth-child(1){
    display: none;
  }

  .icons_header_anim > img:nth-child(3){
    left: 126px;
  }

  .icons_header_anim > img:nth-child(5){
    left: 514px;
  }

  .icons_header_anim > img:nth-child(2){
    left: 411px;
  }
}

@media (max-width: 1164px){

}

@media only screen and (max-width: 1159px){
  .icons_header_anim > img:nth-child(3){
    left: 27px;
  }

  .icons_header_anim > img:nth-child(5){
    left: 314px;
  }

  .icons_header_anim > img:nth-child(2){
    left: 264px;
  }
}


@media (max-width: 1036px) {


    .slider {
        width: 100%;
    }
}

/* ----------------Tablet resolution------------------------ */

@media (max-width: 1024px) {


  @-moz-document url-prefix() {
    .circle-left  img {
       margin-right: 18px;
    }
  }

  .slider {
    width: 649px;
  }

  .circle-left  img {
     margin-left: 4px;
  }
}

@media (max-width: 1000px) {
    .whatido .one {
        max-width: 100%;
    }
}

@media (max-width: 950px) {
  .app_menu > .top{
    width: 90%;
  }

  .app_menu > .menu_content {
    width: 90%;
  }

  .icons_header_anim > img:nth-child(3){
    left: 27px;
  }

  .icons_header_anim > img:nth-child(5){
    left: 314px;
    top: -48px;
  }

  .icons_header_anim > img:nth-child(2){
    left: 186px;
    top: 319px;
  }

  .icons_header_anim > img:nth-child(4){
    left: 46px;
  }

}

@media (max-width: 842px) {
  .reclama-block h2 {
    width: 90%;
  }

  .reclama-block p {
    width: 90%;
  }

  .reclama-block {
    height: 363px;;
  }
}

@media (max-width: 812px) {
    .whatido .one {
        flex-wrap: wrap;
    }

    .block_name > img {
      width: 222px;
    }

    .block_name > p {
      font-size: 12pt;
    }

    .block_name_butt button {
      width: 168px;
    }

    .icons_header_anim {
      display: none;
    }

}

@media (max-width: 748px) {
  .slider{
    width: 297px;
  }
  .circle-right  img {
      margin-left: -5px;
  }
}

@media (max-width: 720px) {

  .app_menu {
    background-position: right 55px;
  }

  .block_name {
    margin-top: 790px;
  }

  .menu_content {
    align-items: center;
  }

  .container > header:nth-child(1) {
    height: 889px;
  }

  .block_name > img {
    width: 300px;
  }

  .block_name > p {
    font-size: 15pt;
  }

  .block_name_butt button {
    width: 201px;
  }

  .footer-content{
    width: 90%;
  }

}

@media (max-width: 600px) {
  .reclama-block {
    height: 423px;;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: unset;
  }

  .footer-menu {
    width: 88%;
  }

  .social .icons {
    margin-top: 13px;
  }

  .footer-content .social {
    margin-top: 3px;
  }

  .footer-content {
    width: 200px;
    height: unset !important;
  }

  .top {
    justify-content: unset;
    align-items: center;
    flex-direction: column;
  }

  .app_menu {
    height: 575px;
    background-size: 468px 70%;
    background-position: right 148px;
  }

  .container > header:nth-child(1){
    height: 993px;
  }

  ::-webkit-scrollbar{
    display: none;
  }

}

@media (max-width: 490px) {
  .reclama-block {
    height: 480px;;
  }
}

@media (max-width: 472px) {
  .app_menu {
    background-size: 100% calc(100vw);
    background-position: -9px 112px;
  }
}

@media (max-width: 414px) {
  .reclama-block {
    height: 545px;;
  }

  .one .block-one {
    margin-top: 27px;
  }
}

@media (max-width: 330px) {
  .reclama-block {
    height: 586px;;
  }
}


@media (max-width: 380px) {

  .block_name {
    margin-top: calc(157vw);
  }

  .container > header:nth-child(1) {
    height: 905px;
  }

}

@media (max-width: 340px) {
  .image {
    margin: 0px 27px;
    width: 277px;
  }

  .circle-left  img {
     margin-right: 6px;
  }

  .circle-right  img {
      margin-left: -22px;
  }
}

@media (max-width: 328px){
  .block_name > img {
    width: 205px;
  }

  .block_name > p {
    font-size: 12pt;
  }

  .container > header:nth-child(1) {
    height: 785px;
  }

  .block_name {
    margin-top: calc(132vw);
  }

}

@media (max-width: 615px){

}
